$brand-teal = #14abd0
$brand-grey = #8c8c8c

/* General */
body
  background-color: #eee


.clear-pad-mar
  padding: 0
  margin: 0

.default-link
  color #fff
  text-decoration none

.default-link:hover
  color $brand-teal
  text-decoration none

/* Navbar */

.navbar
  background-color #fff
  border-radius 0px
  border none
  padding 10px
  border-bottom 1px solid $brand-grey

#navbar-custom-menu > ul > li
  margin-top: 5px
  margin-right 20px

#navbar-custom-menu > ul > li > a
  color #000

#navbar-custom-menu > ul > li > a:hover
  color $brand-grey

.active
  color $brand-teal

/* Home Images */

.home-image
  border 2px solid #fff
  height auto
  width 100%

.home-image:hover
  border 2px solid $brand-teal
  opacity 0.1

.image-hover-text
  position absolute
  color #000
  top 0
  left: 3%
  font-weight 200

/* Project */

.project-header
  margin-top 8%

.project-image
  height auto
  width 100%
  margin 10px 0

.project-text
  margin-top 3%
  line-height 1.5
  color #000

.project-heading
  color $brand-grey

/* Footer */
.footer > div
  background-color $brand-grey

.footer-text
  padding-top: 10px;
  color #fff

.footer-text > a
  color #fff
  text-decoration none

.footer-text > a:hover
  color $brand-teal

.creator-text
  opacity 0.3

.creator-text > a:hover
  color #fff

/* About Page */
.summary-div > p
  line-height 2

.contact-div
  margin 2% 0
  padding-bottom 1%
  border-bottom 1px solid $brand-grey

.about-div
  margin 2% 0

.about-div > h5
  color $brand-grey

.about-div > h6
  color $brand-teal


.about-image
  height auto
  width 100%

.contact-label
  color $brand-grey

.contact-info-heading
  color $brand-grey

.about-links
  color $brand-teal
  text-decoration none

.about-links:hover
  color $brand-grey
  text-decoration none
